<section class="centralizar">
    <figure>
        <img src="~/images/zelda.png" alt="Error 404" style="width:400px; height: 400px; margin-top:37px;" />
        <figcaption><span class="alert">@ViewBag.Erro</span></figcaption>
    </figure>
</section>
