@model IEnumerable<ProjetoFinalWeb.Models.FilmesModel>

@{
    ViewBag.Title = "Filmes";

}
<div class="svg-wrapper">
    @*<svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="shape" height="60" width="320" />
        <div class="text">Filmes</div>
    </svg>*@
    <form id="buscarFilme" method="post" action="/BuscarItens" class="form-inline">
        <div class="form-group">
            <input type="text" id="nome" class="form-control" name="nome" placeholder="Digite o nome do filme..." required />
        </div>
        <button type="submit" class="btn btn-default btn-sm" /><span class="glyphicon glyphicon-search"></span> BUSCAR</button>
    </form>
</div>



<ul class="lista_filmes"></ul>
<div style="clear: both;"></div>
<script src="~/Scripts/playlist.js"></script>
<script>

    $("#nome").autocomplete({
        source: '/Filmes/Buscar',
        minLength: 2,
        select: function (event, ui) {
            var params = {
                url: ui.item ? '/Filmes/BuscarItem' : '/Filmes/BuscarItens',
                data: 'nome=' + (ui.item ? ui.item.value : this.value)
            };
            buscarFilmes(params);
        }
    });

    $('#buscarFilme').submit(function (e) {
        e.preventDefault();
        var params = {
            url: '/Filmes/BuscarItens',
            data: $(this).serialize()
        };
        buscarFilmes(params);

        return false;
    });

    function buscarFilmes(params) {
        $.ajax({
            method: 'post',
            url: params.url,
            data: params.data,
            success: function (data) {
                $('.lista_filmes').html(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

</script>
