@{
    ViewBag.Title = "Home Page";
}

<style>
    .btn-home img {
        width: 300px;
        height: 150px;
        border-radius: 15%;
        opacity: 0.8;
        border:;
    }

        .btn-home img:hover {
            opacity: 1;
        }

    .mainTitle {
        color: mistyrose;
    }
</style>


<br />
<h1 class="mainTitle">Aquarella</h1>

<a href="/Filmes/Index" class="btn-home">
    @*<img src="~/images/button02.png" alt="" class="glyphicon-link" />*@
    <h3 class="btn btn-default">Buscar filmes</h3>
</a>

