@{
    ViewBag.Title = "Home Page";
}

<div class="svg-wrapper"; style="align-items:flex-start">
    <svg height="60" width="320">
        <rect class="shape" height="60" width="320"/>
        <div class="text">Aquarella</div>
    </svg>
</div>

<br />
<div class="centralizar">
    <a href="/Filmes/Index" class="btn-home">
        <h3 class="btn btn-default">Buscar filmes</h3>
    </a>
</div>


@if (!Request.IsAuthenticated)
{
    <div class="centralizar">
        <a href="/Account/Login" class="btn-home" style="position:relative; top: -160px; left: 455px;" id="loginLink">
            <h3 class="btn btn-default"><span class="glyphicon glyphicon-dashboard"> Login</span></h3>
        </a>

        <a href="/Account/Register" class="btn-home" style="position:relative; top:-160px; left:455px;" id="registerLink">
            <h3 class="btn btn-default"><span class="glyphicon glyphicon-dashboard"> Cadastrar</span></h3>
        </a>

    </div>
}
else
{
    <form action="/Account/LogOff" method="post" class="btn-home" style="position: absolute; top:110px; right:1100px;" id="logoutForm">
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()">
            <h3 class="btn btn-default"><span class="glyphicon glyphicon-dashboard"> Sair</span></h3>
        </a>
    </form>

    <div class="centralizar">
        <a href="\Usuario\Index" onclick="CriarPlaylist()" class="btn-home" style="position:relative; top:-160px; left:455px;" id="registerLink">
            <h3 class="btn btn-default"><span class="glyphicon glyphicon-dashboard"> Minhas Playlists</span></h3>
        </a>
    </div>
}