@{
    ViewBag.Title = "Home Page";
}


    <h1>Aquarella</h1>
   
    <a href="http://localhost:49988/Filmes/Index">
        <img src="~/images/button02.png" alt="" style="width:300px;height:150px;" class="glyphicon-link" />
    </a>

