@{
    ViewBag.Title = "Home Page";
}

<div class="svg-wrapper">
    <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg">
        <rect class="shape" height="60" width="320" />
        <div class="text">Aquarella</div>
    </svg>
</div>


<br />
<div class="centralizar">
    <a href="/Filmes/Index" class="btn-home">
        <h3 class="btn btn-default">Buscar filmes</h3>
    </a>
</div>
